body {
    margin: 0; 
    height: 100vh; 
    background-image: url("ashesi1.jpg");
    background-size: cover;  
    background-position: center; 
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;     
    text-align: center; 
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.button-container {
    display: flex;
    gap: 20px; 
}

.left-button {
    float: left;
}
.right-button {
    float: right;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: solid 5px #000;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
button:hover {
    background-color: #333;
    color: white;
    background-color: black;

    
}