body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url("ashesi1.jpg") ;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100;
    }
    
.form-container {
    background: maroon;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
    width: 300px;
    text-align: center;
}

h2 { 
    margin-bottom: 20px; 
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover { 
    background-color: #555; 
}