body {
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
  background-image: url("../images/ashesi1.jpg");
  background-position: center;
  background-size: cover ;
  color: #333;

}

nav {
  background-color: #A6192E;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

nav h2 {
  margin: 0;
  font-size: 1.3rem;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #F2A900;
}

/* Dashboard */
main {
  padding: 40px;
}

.dashboard {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

th, td {
  border-bottom: 1px solid #ddd;
  text-align: left;
  padding: 10px;
}

th {
  background-color: #A6192E;
  color: white;
}

tr:hover {
  background-color: #f2f2f2;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    text-align: center;
  }
  
  main {
    padding: 20px;
  }

  table {
    font-size: 0.9rem;
  }
}
