body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../images/ashesi1.jpg") no-repeat center center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

form {
  background: rgba(255, 255, 255, 0.95);
  padding: 30px 25px;
  border-radius: 12px;
  box-shadow: 0px 6px 12px rgba(0,0,0,0.2);
  width: 350px;
  text-align: center;
}

input, select {
  width: 90%;
  padding: 12px;
  margin: 8px auto;
  display: block;
  border-radius: 6px;
  border: 1px solid #bbb;
  font-size: 14px;
  outline: none;
  transition: border-color 0.3s;
}

input, select{
  border-color: #333;
}

button {
  width: 95%;
  padding: 12px;
  margin-top: 15px;
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
}

button:hover {
  background-color: #555;
}

button a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}


#registerStatus {
  width: 95%;
}


input::placeholder {
  color: #999;
}

select {
  color: #333;
}

select:invalid {
  color: #999;
}
