body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("../images/ashesi1.jpg");
  background-position: center ;
  background-size: cover;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #800000;
  padding: 15px 40px;
  color: white;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  transition: color 0.3s, transform 0.3s;
}

.nav-links li a:hover {
  color: #f9d342;
  transform: scale(1.1);
}

/* Main layout */
.dashboard {
  display: flex;
  min-height: 80vh;
}

/* Sidebar */
.sidebar {
  background-color: #f2f2f2;
  padding: 20px;
  width: 20%;
  border-right: 2px solid #ddd;
}

.sidebar h2 {
  margin-bottom: 15px;
  color: #333;
}

.sidebar ul {
  list-style: none;
}

.sidebar li {
  margin-bottom: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #800000;
  font-weight: 500;
}

.sidebar a:hover {
  color: #f9d342;
}

/* Content Area */
.content {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 20px;
  padding: 30px;
  width: 80%;
}

/* Cards */
.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.card h2 {
  margin-bottom: 15px;
  color: #800000;
}

.card input {
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.card button {
  padding: 10px 20px;
  background-color: #800000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s;
}

.card button:hover {
  background-color: #a52a2a;
}

/* Footer */
.footer {
  background-color: #800000;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 14px;
}


.card table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.card th {
  background-color: #800000;
  color: white;
  padding: 10px;
  text-align: left;
}

.card td {
  padding: 10px;
  background: #f9f9f9;
  border-bottom: 1px solid #ddd;
}

.card tr:hover td {
  background-color: #f3e6e6;
}

/* Button inside table */
.card table button {
  padding: 6px 15px;
  font-size: 14px;
  background-color: #800000;
  border-radius: 4px;
}

.card table button:hover {
  background-color: #a52a2a;
}


@media (max-width: 768px) {
  .dashboard {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    border-right: none;
    border-bottom: 2px solid #ddd;
  }

  .content {
    width: 100%;
    padding: 15px;
  }

  .nav-links {
    flex-direction: column;
    gap: 10px;
  }

  .nav-links li a {
    display: block;
  }
}
